<div class="row">
   <div class="col-md-1 col-xs-6"><a href="#" class="btn btn-xs btn-info">Channel 1</a></div>
   <div class="col-md-1 col-xs-6"><a href="#" class="btn btn-xs btn-info">Channel 1</a></div>
   <div class="col-md-1 col-xs-6"><a href="#" class="btn btn-xs btn-info">Channel 1</a></div>

   <div class="col-md-1 col-xs-6"><a href="#" class="btn btn-xs btn-info">Channel 1</a></div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12 playlist"><playlists></playlists></div>
    <div class="col-md-6 col-xs-12 player"><player></player></div>
</div>