    <nav>
        <a id="play">{{$ctrl.youtube.state }}</a>
        <a id="pause">Pause</a>
    </nav>


<div id="player">
    <div id="placeholder"></div>
</div>
<div id="playlist">
    <p id="current">{{$ctrl.youtube.videoTitle }}</p>
    <ol id="upcoming" ng-show="$ctrl.playlist">
        <li ng-repeat="video in $ctrl.upcoming">
            <p class="item-delete" ng-click="$ctrl.delete(video.id)">delete</p>
            <p class="item-title" ng-click="$ctrl.launch(video.id, video.title)">{{video.title}}</p>
        </li>
    </ol>
    <ol id="history" ng-hide="$ctrl.playlist">
        <li ng-repeat="video in $ctrl.history">
            <p class="item-delete" ng-click="$ctrl.delete($ctrl.history, video.id)">delete</p>
            <p class="item-title" ng-click="$ctrl.queue(video.id, video.title)">{{video.title}}</p>
        </li>
    </ol>
    <p id="tabs">
        <a ng-class="{on:playlist}" ng-click="$ctrl.tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" ng-click="$ctrl.tabulate(false)">History</a>
    </p>
</div>

