<p>videos LIST</p>

<div class="video" ng-repeat="video in $ctrl.list ">
    <div class="col-md-4 ">
        <img alt="photo" src="../../../css/img/v1.jpg" /></div>
    <div class="col-md-8 col-xs-8 items">
        <ul>
            <li>
                <a href="{{video.url}}">
                    <h4>{{video.title}}</h4>
                </a>
            </li>
            <li>
                <h5>{{video.author}}</h5>
            </li>
            <li><em>Posté par {{user_id}}, le {{date}}</em></li>
        </ul>
    </div>